<div class="container">
  <div class="contacts" *ngIf=" auth.user$ | async as user; else credentials">
    <div class="leftside">
      <div class="usercontainer">
        <div class="user">

          <div class="profile">
            <img [src]="user.photoURL || 'assets/man.svg'  " alt="" width="50px">
            <p>{{ user.displayName }}</p>
          </div>
          <div class="logout" (click)="auth.signOut()">
            <div class="cross">
              <div class="bar1"></div>
              <div class="bar2"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="userscontainer">
        <!-- <ul>
    <li *ngFor="let chat of userChats$ | async">
      <a [routerLink]="'rooms/' + chat.id">{{ chat.id }} - {{ chat.messages.length }} Messages </a>
    </li>
  </ul> -->
        <app-users></app-users>
      </div>
    </div>
    <div class="rightside flex columns">
      <app-rooms></app-rooms>
      <div class="conversations">
        <h1>Conversations</h1>
        <div class="conversation" *ngFor="let chats of myChats" [routerLink]="['/chats', chats.id]">
          <img [src]="'assets/man.svg'" alt="">
          {{ chats.displayName }}

          <p *ngIf="chats.messages.length" class="last-message">
            {{ chats.messages[chats.messages.length - 1].content }}
          </p>
        </div>
      </div>
    </div>
  </div>




  <ng-template #credentials>
    <article class="container">
      <h2>Je bent nog niet ingelogd.</h2>

      <p>Om met andere mensen te kunnen chatten hebben we even je tijd nodig om te registreren of in te loggen. Andere
        gebruikers zullen uw profiel kunnen bekijken zodat ze u kunnen contacteren. Uw opgeslagen gegevens worden meteen
        na het evenement vernietigd.</p>
      <app-login></app-login>

      <p>Nog geen account?</p>
      <button [routerLink]="['/register']" type="button">Register</button>
    </article>
  </ng-template>
