.rooms {
  display: flex;
  justify-content: space-between;

  .room {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.1);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }
}
